table, th, td, caption{
    border: 1px solid;
    border-collapse: collapse;
}
select{
    -webkit-appearance: none;
    appearance: none;
    text-align: center;
    border: 0;
    color: black;
    background-color: white;
}
#theTable{
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    width: 98%;
    height: 75px;
    text-align: center;
}
#monthDrop{
    width: 100%;
    text-align: center;
}
